.pt-2 {
    padding-top: 2rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.absolute{
    display: none;
    position: absolute;
    left: 0;
    color: hsl(0, 87%, 67%) !important;
}

.relative{
    position: relative;
}