.main {
    main {
        .introduction {
            display: flex;
            flex-direction: column-reverse;
            padding-bottom: 10rem;

            .introduction-image {
                position: relative;

                img {
                    width: 140%;
                }
            }

            .intro-desc {
                margin-bottom: 1rem;

                h1 {
                    margin: 0 auto;
                }
            }

            .intro-btn {
                a {
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
        }

        p {
            color: map-get($map: $color, $key: primaryFontColor2);
        }

        .section-shorten-url {
            background-color: lighten(map-get($map: $color, $key: primaryFontColor), $amount: 30);

            .shorten-bg {
                width: 100%;
                height: 100%;
                padding: 3rem 1rem;
                background: url('../images/bg-shorten-mobile.svg') no-repeat center;
                background-position: 7rem -7rem;
                background-size: cover;
            }

            .shorten-url {
                background-color: map-get($map: $color, $key: secondaryColor);
                margin: auto 5%;
                margin-top: -8rem;
                border-radius: 1rem;
                z-index: 1000;

                input {
                    width: 100%;
                    height: 3rem;
                    border-radius: 0.5rem;
                    padding-left: 2rem;
                    //color: hsl(0, 87%, 67%);
                    font-size: 1rem;
                    //border: 2px hsl(0, 87%, 67%) solid;

                    &::placeholder {
                        //color: lighten($color: hsl(0, 87%, 67%), $amount: 10);
                        font-weight: 700;
                    }

                    &:focus {
                        outline: 0;
                    }
                }

                button {
                    width: 100%;
                    margin-top: 2rem;
                    height: 3rem;
                    @extend .btn;
                    border-radius: 0.5rem;
                    background-color: map-get($map: $color, $key: primaryColor);
                    color: map-get($map: $color, $key: primaryFontColor);
                    font-size: 1rem;
                    font-weight: bolder;

                    a {
                        color: map-get($map: $color, $key: primaryFontColor);
                    }

                    &:hover {
                        background-color: lighten($color: map-get($map: $color, $key: primaryColor), $amount: 10);
                    }
                }
            }
        }

        .section-advanced-statistics {
            background-color: lighten($color: hsl(257, 7%, 63%), $amount: 30);
            margin-bottom: 0;
            padding: 2rem 0 2rem 0;
            text-align: center;
            color: #000000;

            p {
                margin-bottom: 0;
            }

            .grid-items {
                .grid-item {
                    background-color: #ffffff;
                    width: 90%;
                    margin: 5rem auto;
                    padding: 2rem 0;
                    border-radius: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .img-cover {
                        background-color: map-get($map: $color, $key: secondaryColor);
                        width: 6rem;
                        height: 6rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        margin-top: -4.5rem;
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        background-color: map-get($map: $color, $key: primaryColor);
                        width: 8px;
                        height: 8rem;
                        left: 50%;
                        top: 100%;
                        right: auto;
                        transform: translateX(-50%);
                    }
                }

                .grid-item:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        .section-boost {
            background-color: map-get($map: $color, $key: secondaryColor);

            .background-layer {
                background: url("../images/bg-boost-mobile.svg") no-repeat;
                background-size: cover;
                text-align: center;
                color: white;

                div {
                    padding: 6rem 0rem;

                    h2 {
                        font-size: 2.2rem;
                    }

                    button {
                        font-size: 1.2rem;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .main {
        main {
            .introduction {
                width: 80%;
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .introduction-main {
                    width: 50%;
                }

                .introduction-image {
                    position: relative;
                    left: 8rem;

                    img {
                        width: 140%;
                    }
                }

                .intro-desc {
                    text-align: start !important;
                    margin-bottom: 3rem;

                    h1 {
                        font-size: 4rem;
                    }

                    p {
                        font-size: 1.7rem;
                    }
                }

                .intro-btn {
                    text-align: start;
                }
            }

            .section-shorten-url {
                .shorten-url {
                    width: 80%;
                    margin: auto;
                    margin-top: -8rem;

                    .shorten-bg {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 1rem;
                        padding: 4rem;
                        background: url('../images/bg-shorten-desktop.svg') no-repeat center;
                        background-size: cover;
                        .shorten-input {
                            flex: 1;
                            margin-right: 1rem;
                        }

                        .shorten-btn {
                            button {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }

            .section-advanced-statistics {
                .grid-items {
                    margin-top: 4rem;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    align-items: start;
                    text-align: start;
                    padding: 0 10%;
                    .grid-item {
                        min-height: 20rem;
                        align-items: start;
                        padding: 3rem;
                        .img-cover{
                            margin-top: -12rem;
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            background-color: map-get($map: $color, $key: primaryColor);
                            width: 8rem;
                            height: 8px;
                            left: 100%;
                            top: 50%;
                            right: auto;
                            transform: translateX(0%);
                        }
                    }

                    .grid-item:nth-child(2) {
                        margin-top: 10rem;
                    }

                    .grid-item:nth-child(3) {
                        margin-top: 15rem;
                    }
                }
            }

            .section-boost {
                .background-layer {
                    background: url("../images/bg-boost-desktop.svg") no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}